@import url('https://fonts.googleapis.com/css2?family=Poppins:1,400;1,500;1,600&display=swap');

/* reset css + stile body */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F8F9;
}

/* stile figure */
figure {
    display: inline-block;
}

/* stili colori */
.bg-white {
    background-color: white;
}
.bg-blue {
    background-color: #14AAF5;
}
.bg-purple {
    background-color: #AB5DE6;
}
.bg-teal {
    background-color: #2CC6AB;
}
.bg-orange {
    background-color: #FF9B00;
}
.bg-pink {
    background-color: #EC4A9D;
}
.bg-green {
    background-color: #A3D116;
}

/* stili status task */
.task-status {
    border-radius: 50%;

    width: 16px;
    aspect-ratio: 1/1;

    font-size: 12px;
    text-align: center;
}
.status-done {
    border: 1px solid #2CC6AB;
    color: #2CC6AB;
}
.status-undone {
    border: 1px solid #FF4141;
    color: #FF4141;
}

/* stili badge */
.badge {
    border-radius: 64px;
}